<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bubble.css">
    <link rel="stylesheet" type="text/css" href="/lib/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
        .auth-msg-container{
            height: 1000px;
        }
    </style>
</head>
<body>
    <div class="auth-msg-container animated bounceInDown">
        <h1>
            You need to be logged in to access this content
        </h1>
        <a href='/auth/google' class='button-style-1'>Login via Google</a>
    </div>
</body>
</html>
