<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Contact Example</title>

    </head>
    <body>
        <form action="http:/yourserveraddress:1408" id="contactform" method="post">
            <div id="error">
              Sorry there was an error, please try and email us: <a href="mailto:mohammadlaknahour@yahoo.com">mohammadlaknahour@yahoo.com</a>
            </div>
            <div id="success">
              Message sent!  We'll get back to you shortly.
            </div>
            <input type="text" placeholder="Your Name" name="name">
            <input type="email" placeholder="Your Email" name="email">
            <input type="text" placeholder="Subject" name="subject">
            <textarea name="question" placeholder="Question"></textarea>
            <div class="right"><input type="submit" class="submit" name="submit" value="Send"></div>
        </form>
    
    <script>window.jQuery || document.write('<script src="j/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="javascripts/contact/j/main.js"></script>

    </body>
</html>

