<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bubble.css">
    <link rel="stylesheet" type="text/css" href="/lib/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    
    <style>
        .entertainmentSelect-container{
            margin-top: 100px;
        }
        
        h1{
            color: white;
        }
        
        .pic-button{
            margin: 20px;
            text-decoration: none;
            color: white;
            display: inline-block;
        }
        
    </style>
    
</head>
<body>
    <div class="entertainmentSelect-container text-center animated bounceInDown">
        <h1>Entertainment Room</h1>
        <a class='pic-button' href="/entertain/game">
            <div>
                <img src="/images/entertainmentSelect_game.png">
                <h3>Games</h3>
            </div>
        </a>
        <a class='pic-button' href="/entertain/bookstore">
            <div>
                <img src="/images/entertainmentSelect_book.png">
                <h3>Bookstore</h3>
            </div>
        </a>
    </div>
</body>
</html>
