<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/viewstory.css">
    <link rel="stylesheet" type="text/css" href="/lib/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
</head>
<body>
    <div style="margin-top: 100px;"></div>
    <div class="generic-center-container booklike-container no-padding">
        <h1 class='text-center'>Users List</h1>
        
        <ul class='story-list animated fadeIn'>
            {{#each data}}
                <li>
                    <a class='story-link' href='/profile?id={{this.id}}'>{{this.nickname}}</a>
                    <p class='story-author'>{{this.description}}</p>
                </li>
            {{/each}}
        </ul>
    </div>
</body>
</html>
