<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/common.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <style>
      .animated{
        -webkit-animation-duration: 0.5s;
      }
    </style>
  </head>
  <body>


    {{> top_bar}}
      <div id="theentirebody" data-animsition-in-class="fade-in-left-sm" data-animsition-out-class="fade-out-right-sm">
        {{{body}}}
      </div>
      
        {{> footer}}
  </body>
      <!-- animsition.css -->
<link rel="stylesheet" href="stylesheets/animsition.css">
<!-- animsition.js -->
<script src="javascripts/animsition.js"></script>
  {{!--<script>
$(document).ready(function() {
  $(".animsition").animsition({
    inDuration: 0,
    outDuration: 800,
    linkElement: '.animsition-link',
    // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
    loading: true,
    loadingParentElement: 'body', //animsition wrapper element
    loadingClass: 'animsition-loading',
    loadingInner: '', // e.g '<img src="loading.svg" />'
    timeout: true,
    timeoutCountdown: 200,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
    overlay : false,
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
  });
});
</script>--}}
</html>