body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.link-button{
  padding: 10px 75px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.link-button:hover{
  background-color: darkslategrey;
}

#video-bg-elem{
	object-fit: fill;
}