<!DOCTYPE html>

<html>


    <head>
    
    <link type="text/css" rel="stylesheet" href="/stylesheets/help/AboutUsStyle.css" />
        
    </head>
    <h1>
        <div STYLE = "POSITION: absolute; TOP: 25px; LEFT: 590px">
        <image src = "/images/help/about%20us.jpg" alt= "sign" style="width:170px;height:150px;" ></image>
        </div>
        <div STYLE = "POSITION: absolute; TOP: 75px; LEFT: 465px">
        <p>About Us</p>
        </div>
    </h1>
    <body>
    
        <div STYLE = "POSITION: absolute; TOP: 200px; LEFT: 253px">
        <pre>MOGS is your source for communication to help improve all aspects of your life. we<br>want to give you everything that’s great for you: <br>mentally, physically, spiritually, emotionally, and environmentally. </pre>
        <pre>This webite is dedicated to MOGS, which is a phase that discribes any advice, help and <br>sharing ideas that will help you get things done more efficiently and effectively.<br>We bring together mentors, videos, best-selling authors, brain training games to help <br>you to live your healthiest, happiest life.<br>
Ultimately, you know best what works for you. We're here when you need us.</pre>
            
            </div>
    </body>

</html>
