<!DOCTYPE html>

<html>


    <head>
    
    <link type="text/css" rel="stylesheet" href="/stylesheets/help/FootPartStyle.css" />
        
    </head>
    <h1>
        <body>
        <div STYLE = "POSITION: absolute; TOP: 25px; LEFT: 163px">
        <image src = "Mogs2.png" alt= "sign" style="width:170px;height:150px;" ></image>
        </div>
        
        <div STYLE = "POSITION: absolute; TOP: 55px; LEFT: 510px">
            <h1>Support</h1></div>
        <div STYLE = "POSITION: absolute; TOP: 95px; LEFT: 510px">
            <p><a href="HelpTopic.html" target="_self" style="text-decoration:none">Help</a></p> </div>
        <div STYLE = "POSITION: absolute; TOP: 120px; LEFT: 510px">
            <p>Developers</p></div>
            
            
           <div STYLE = "POSITION: absolute; TOP: 55px; LEFT: 850px">
            <h1>MOGS.com</h1></div>
        <div STYLE = "POSITION: absolute; TOP: 95px; LEFT: 850px">
           <p><a href="AboutUS.html" target="_self" style="text-decoration:none">About Us</a></p>  </div>
        <div STYLE = "POSITION: absolute; TOP: 120px; LEFT: 850px">
            <p>Email Us</p></div>        
    
        </body>
    </h1>
 </html>
