<!DOCTYPE html>

<html>


    <head>
    
    <link type="text/css" rel="stylesheet" href="/stylesheets/help/GettingStartedStyle.css" />
        
    </head>
        
    <body>
                
        <div STYLE = "TOP: 10px; LEFT: 163px">
        <h1>Getting Started</h1>
        <pre>In case of using MOGS, you have to have an account.
Click on the sign up button on the home page.
The google email sign in page will appear.
If you have a google account, then enter your email and password.
Otherwise you have to create a google account.</pre>

        </div>
        
</body>
    
</html>
