<!DOCTYPE html>

<html>


    <head>
    
    <link type="text/css" rel="stylesheet" href="/stylesheets/help/HelpStyle.css" />
        
    </head>
        
    <body1>
    
        <center> <image src = "/images/help/BackMog.png" alt= "main picture" style="width:940px;height:400px;" ></image>
        </center>
        <div STYLE = "POSITION: absolute; TOP: 40px; LEFT: 450px">
        <center> <image src = "/images/help/Mogs2.png" alt= "sign" style="width:380px;height:340px;" ></image>
        </center>
            </div>
    
        <div STYLE = "POSITION: absolute; TOP: 450px; LEFT: 163px">
        <image src = "/images/help/Square.png" alt= "sign" style="width:250px;height:250px;" ></image>
        </div>
        
        <div STYLE = "POSITION: absolute; TOP: 450px; LEFT: 510px">
        <image src = "/images/help/Square.png" alt= "sign" style="width:250px;height:250px;" ></image>
        </div>
        
        <div STYLE = "POSITION: absolute; TOP: 450px; LEFT: 850px">
        <image src = "/images/help/Square.png" alt= "sign" style="width:250px;height:250px;" ></image>
        </div>

        
        <div STYLE = "POSITION: absolute; TOP: 500px; LEFT: 250px">
        <image src = "/images/help/bulb1.png" alt= "sign" style="width:70px;height:90px;" ></image>
        </div>
        <div STYLE = "POSITION: absolute; TOP: 630px; LEFT: 228px">
        
            <a href="/gettingstarted" target="_self" style="text-decoration:none">Getting Started</a>
        
        </div>
        
        <div STYLE = "POSITION: absolute; TOP: 500px; LEFT: 600px">
        <image src = "/images/help/Qgreen.png" alt= "sign" style="width:60px;height:90px;" ></image>
        </div>
        <div STYLE = "POSITION: absolute; TOP: 630px; LEFT: 590px">
            
            <a href="/helptopic" target="_self" style="text-decoration:none">Help Topics</a>
            
        </div>
        
        <div STYLE = "POSITION: absolute; TOP: 500px; LEFT: 950px">
        <image src = "/images/help/paper-plane.png" alt= "sign" style="width:70px;height:90px;" ></image>
        </div>
        <div STYLE = "POSITION: absolute; TOP: 600px; LEFT: 940px">
        <p>Email Us</p>
        </div>
                <br>
        <br>
    </body1>
    
</html>
