<!DOCTYPE html>

<html>


    <head>
    
    <link type="text/css" rel="stylesheet" href="/stylesheets/help/HelpTopicStyle.css" />
        
    </head>
        
    <body1>
                
        <div STYLE = "TOP: 10px; LEFT: 163px">
        <h3>Help Topics</h3>
         <p>To start using MOGS, you need to create an account.MOGS has four rooms and based<br> on your need you can chose your favorite environment. </p>
            <br>
           
<h4>Entertainment</h4>
<pre>In Entertainment room, user can either chose a game and play or in read or upload a book in Bookstore.</pre>
            
<h1>Game</h1>
<pre>You can choose your favorite game from the list, play and enjoy.</pre>

<h1>Bookstore</h1>
<h2>Read a book: </h2>
<pre>They are variety of book in this page and you can choose a book and read it until you leave the website.</pre> 

<h2>Upload the book: </h2>
<pre>Click on the Upload link.
In the new page upload your PDF file.
Click on Submit, now you can see your uploaded book on bookstore page.</pre>

            <br>
            <br>

<h4>Story Room</h4>
<pre>This page gives you an opportunity to share story of your life anonymously, and read others.</pre> 
            
<h2>Read story:</h2>
<pre>Click on read story.
There is a new page with list of titles.
Chose the title you like, click on it now you can read another user’s story.</pre>

<h2>Write Story:</h2>
<pre>In this page you can write your story.
Click on write story.
On top you have to write your user ID.
On second tab your Title.
In writing part, you have the option to choose your favorite font, color or size.
At the end you can submit your story, so other user can read that in read story section. </pre>

        </div>
            
    </body1>
    
</html>
