h1
{
    color: #FFE4E1;
    font-family:Calibri ;
    font-size: 33px;
    font-style: oblique;
}

pre
{
    color: #FFFFDD;
    font-family:Calibri ;
    font-size: 15px;
}
body
{
    background-color: #46474a;
    
}

