<!DOCTYPE html>
<html>
<head>
   <title>AJAMKA</title>
   <link rel="stylesheet" href="room.css">
   <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
   <link rel="stylesheet" href="responsive.css">
</head>
<body>
   
   <header class="main_header">
      <div class="container">
         <h1>Welcome to the Chatroom</h1>
      </div>
   </header>
   
   <div class="container">
      <div class="info group">
            <h3>The Answer To All Your Questions</h3>
            <p>The chatroom is the dedicated place to communicate with individuals around the world. Ask or answer questions, and socialize to make yourself feel better.</p>
      </div>
   </div>
   
   <div class="wrapper">
      <div class="categories">
         <section>
            <ul id="categories-1">
               <li>
                  <a href="/chat">
                     <img src="Education-a.png" width="270" height="190">
                  </a>
                  
               </li>
               <li>
                  <a href="/chat">
                     <img src="health-a.png" width="270" height="190">
                  </a>
               </li>
               <li>
                  <a href="/chat">
                     <img src="work-a.png" width="270" height="190">
                  </a>
               </li>
               <li>
                  <a href="/chat">
                     <img src="Work-r.png" width="270" height="190">
                  </a>
               </li>
               <li>
                  <a href="/chat">
                     <img src="Health-r.png" width="270" height="190">
                  </a>
               </li>
               <li>
                  <a href="/chat">
                     <img src="Family-r.png" width="270" height="190">
                  </a>
               </li>
            </ul>
         </section>
      </div>
   </div>
</body>
</html>